.App {
  padding: 30px;
}

.App .logo {
  float: left;
}
.App .clear {
  clear: both;
}
.App .heading img {
  height: 85px;
}

.App h1 {
  float: left;
  margin-left: 20px;
}

.App nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #001836;
}

.App nav ul li {
  float: left;
}

.App nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-weight: bold;
}

.App nav ul li a:hover {
  background-color: #06c;
}

button {
  padding: 10px 20px;
  margin: 0px 10px 10px 10px;
  background-color: #fff;
  border: 1px solid #06c;
  color: #06c;
  font-weight: bold;
  border-radius: 5px;
}

button:hover {
  background-color: #e5effa;
}

button:disabled, button.primary:disabled, button.delete:disabled {
  background-color: lightgray;
  border: 1px solid lightgray;
  color: gray;
}

button:disabled:hover, button.primary:disabled:hover, button.delete:disabled:hover {
  background-color: lightgray;
  border: 1px solid lightgray;
}

button.primary {
  background-color: #ffd200;
  border: 1px solid #ffd200;
  color: black;
}

button.primary:hover {
  background-color: #ffed84;
}

button.delete {
  background-color: #d93636;
  color: white;
  border: 1px solid #d93636;
}

button.delete:hover {
  background-color: #ee4e4e;
}

/* Home */
.App .search-box {
  padding: 10px;
  margin: auto;
  width: 50%;
  text-align: center;
}

table.customer-list {
  width: 60%;
  margin-bottom: 20px;
}

.customer-list tr:nth-child(even) {
  background-color: #C0D3FF;
}

.customer-list td {
  padding: 5px;
}

.customer-list td button {
  padding: 5px 10px;
  margin-bottom: 2px;
}

.customer-list th {
  border-bottom: 2px solid lightslategray;
}

.customer-list .name {
  text-align: left;
}

.customer-list .dob {
  text-align: right;
}

 /* Style the form - display items horizontally */
 .form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
  color: black;
  font-size: smaller;
}

/* Style the input fields */
.form-inline input, .form-inline select {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  border: 1px solid lightslategray;
  color: black;
  font-size: medium;
}

.form-inline input[type=checkbox] {
  transform: scale(2);
  height: 50px;
  padding: 5px;
  margin-left: 10px;
}

.form-inline select {
  width: 218px;
}

.form-inline input:disabled, .form-inline select:disabled {
  border: 1px solid #ddd;
  background-color: #eee;
}

.form-inline button.delete {
  margin-left: 80px;
}

h3 .inactive {
  margin-left: 50px;
  color: crimson;
  font-size: 
}

/* .form-inline button.primary:disabled {
  background-color: lightgray;
  border-color: 1px solid lightgray;
} */

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
} 