.App {
  margin: 30px;
}

.App nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

.App nav ul li {
  float: left;
}

.App nav ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.App nav ul li a:hover {
  background-color: #111;
}

/* Home */
.App .search-box {
  padding: 10px;
  /* margin: auto;
  width: 50%;
  text-align: center; */
}

 /* Style the form - display items horizontally */
 .form-inline {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
}

/* Add some margins for each label */
.form-inline label {
  margin: 5px 10px 5px 0;
  color: black;
  font-size: smaller;
}

/* Style the input fields */
.form-inline input, .form-inline select {
  vertical-align: middle;
  margin: 5px 10px 5px 0;
  padding: 10px;
  background-color: #fff;
  /* border: none; */
  border: 1px solid lightslategray;
  color: black;
  font-size: medium;
}

.form-inline select {
  width: 218px;
}

.form-inline input:disabled, .form-inline select:disabled {
  border: 1px solid #ddd;
  background-color: #eee;
}

/* Style the submit button */
.form-inline button {
  padding: 10px 20px;
  margin: 0px 10px 10px 10px;
  background-color: dodgerblue;
  border: 1px solid #ddd;
  color: white;
}

.form-inline button.delete-btn {
  background-color: crimson;
}

.form-inline button:hover {
  background-color: royalblue;
}

.form-inline button.delete-btn:hover {
  background-color: brown;
}

.form-inline button.submit-btn {
  margin-left: 50px;
  background-color: green;
}

.form-inline button.submit-btn:hover {
  background-color: olive;
}

/* Add responsiveness - display the form controls vertically instead of horizontally on screens that are less than 800px wide */
@media (max-width: 800px) {
  .form-inline input {
    margin: 10px 0;
  }

  .form-inline {
    flex-direction: column;
    align-items: stretch;
  }
} 